<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <add key="ApplicationIdentifier" value="semafone" />
  <add key="GenesysConfigURIPri" value="tcp://WD1CF01A:2020" />
  <add key="GenesysConfigURIBack" value="tcp://WD1CF01B:2020" />
  <add key="SemafoneCMEAppName" value="SEMAFONEAPP" />
</appSettings>
</configuration>